
/* Your CSS Code here. */
.moviePic{
    height: 200px;
    width: 200px;
    opacity: 0.9;
}
.movieDetail{
    position: absolute;
    top: 200px;
    width: 200px;
    text-align: center;
    font-size: medium;
    justify-content: center;
}